.inicio{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.fondo{
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.presentacion{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botones-inicio{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
}


.contenido-pagina{
    margin: 20px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opciones-de-registro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
    column-gap: 10px;
}

.form-registro .form-login .form-oportunidad{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 0px;
}

.form-registro{
    margin: 15px 0px;
    gap: 5px;
}


.form-select{
    margin-bottom: 15px;
}

/* NAVBAR */
.contenedor-navbar{
    justify-content: space-between;
}

/* CONTENEDOR OPORTUNIDADES */
.contenedor-oportunidades{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
    justify-items: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top:20px;


}
.oportunidad{
    margin: 10px;
}
.footer-card-oportunidad{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}